*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container{
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
/* Common Styles */
.btn-primary{
  border: none;
  background-color: rgb(97, 97, 207);
  border-radius: 10px;
  padding: 0.5em 1em;
  color: white;
  cursor: pointer;
}
.btn-danger{
  border: none;
  background-color: rgb(219, 72, 72);
  border-radius: 10px;
  padding: 0.5em 1em;
  color: white;
  cursor: pointer;
}

/* Login Styles */
.login-container{
  max-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  align-items: center;
  color:  rgb(64, 64, 133);
  position: absolute;
  top: calc(100vh/2 - 100px);
  left: calc(100vw/2 - 165px);
}
.login-buttons{
  display: flex;
  gap: 1em;
}

/* Profile page styles */
.profile-page-container{
 background-color: rgb(192, 203, 223, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.user-core-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
}
.user-core-details img {
  border-radius: 50%;
  width: 150px;
  border:5px solid rgb(64, 64, 133);
  box-shadow: 2px 2px 10px 20px inset;
}
.user-core-details p{
  font-size: 2em;
  color:  rgb(64, 64, 133);
  font-weight: 600;
}
.buttons{
  display: flex;
  gap: 1em;
}
.place-card, .place-header{
  display: flex;
  gap: 1em;
}
.place-card *{
  border: 3px solid rgb(64, 64, 133, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1em;
}
.place-card > .place-title, .place-header > .place-title{
  width: 200px;
}
.place-card > .places-visited, .place-header > .places-visited{
  width: 300px;
}
.place-card > .time-visited, .place-header > .time-visited{
  width: 150px;
}
.place-header > * {
  text-align: center;
}
.places-user-has-visited{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  color:  rgb(64, 64, 133);
  font-weight: 600;
}
.hidden{
  opacity: 0;
}

/* Plan a trip Popup Styles */
.plan-a-trip-container{
  position: absolute;
  top: calc(100vh/2 - 250px);
  left: calc(100vw/2 - 200px);
  background-color: rgb(223, 229, 239, 0.9);
  border-radius: 1em;
  padding: 1.5em;
  width: 400px;
  height: 500px;
  color:  rgb(64, 64, 133);
  font-size: 1.2em;
  box-shadow: 2px 2px 10px 5px rgb(64, 64, 133, 0.5);
}
.plan-a-trip-container input{
  padding: 5px;
  border: 2px solid rgb(64, 64, 133, 0.5);
  border-radius: 10px;
}
.plan-a-trip-container h2{
  text-align: center;
  margin-bottom: 1em;
}
.plan-a-trip-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
select{
  padding: 5px;
  border: 2px solid rgb(64, 64, 133, 0.5);
  border-radius: 10px;
}
.submit-form{
align-self: flex-end;
margin-right: 1em;
}
.form-btn-group{
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}
.date-ranges{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.date-ranges-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
label{
  color:  rgb(64, 64, 133);
}